@import '#tokens/main';

.areaList {
    display: flex;
    flex-direction: column;
    gap: $offset50;
}

.areaSwitcher__modal {
    margin-left: calc($menuWidth - 56px);
    margin-top: calc($bodyOffset / 2);
}

.areaSwitcher__modal .modal__nav {
    margin: 0 !important;
}