---
import "./Hamburger.scss";
---

<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<script>
 import "./Hamburger"
</script>