---

import "./menuItem.scss"

const {href, icon, text } = Astro.props;

const currentUrl = Astro.url.pathname;

const hostUrl = href + '/';

var selected = false;
if(href === currentUrl) selected = true;
if(hostUrl === currentUrl) selected = true;

import { Icon } from 'astro-icon/components'

---

<a class:list={['menuItem', { selected: selected }]} href={selected == false && (href)}>
    <div class="menuItem__icon">
        <Icon name={icon}/>
    </div>
    <div class="menuItem__label">
        {text}
    </div>
</a>
