@import '#tokens/main';


.input__field {
    padding: 16px;
    border-radius: $mainBR;
    transition: 0.5s;
    border: 2px solid transparent;
}

.input {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input__errors {
    width: 100%;
    max-height: 24px;
    margin-top: 10px;
}

.input__label {
    margin-bottom: 12px;
}

.dark {
    .input__field {
        background: transparent;
        border: 1px solid $dark_gray70;
        color: $dark_accent100;
        font-size: 16px;
        font-weight: 500;
    }
    .input__field::placeholder {
        color: $dark_gray80;
        font-size: 14px;
    }
    .input__field:focus {
        border: 2px solid $dark_primary100;
    }
    .input__field_error {
        border: 2px solid $dark_error40;
    }
    .input__field_succesful {
        border: 2px solid $dark_succes50;
    }
    .input__label {
        color: $dark_accent100;
    }
    .input__errors {
        color: $dark_error50;
    }
}

