@import "#tokens/main.scss";

.form__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form__action {
    display: flex;
    flex-direction: column;
}

.form__result {
    padding: $offset40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    gap: 32px;
    max-height: 295px;
}

.form__result_error {
    color: $dark_error50;
}

.form__result_succesful {
    color: $dark_succes50;
}

.alert {
    color: $dark_error100;
    background: $dark_error40;
    padding: $offset50;
    border-radius: $mainBR;
    font-size: 14px;
    position: absolute;
    left: 36px;
    width: 304px;
    bottom: -64px;
}

.form__result svg {
    height: 100%;
    width: auto;
}

.form__title {
    color: $dark_gray100;
    text-align: center;
}