---
import MainLogo from "#entities/mainLogo/ui/mainLogo.astro";
import AreaSwitcher from "#entities/areasSwitcher/ui/areaSwitcher.astro";
import './mainMenu.scss';
import Callback from "#features/callback/ui/callback.astro";


const { logoArea, logoLink} = Astro.props;

---

<nav class="mainMenu">
    <div class="mainMenu__logo">
        <MainLogo logoLink={logoLink} logoArea={logoArea} />
        <AreaSwitcher  logoLink={logoLink} logoArea={logoArea} />
    </div>
    <div class="mainMenu__content">
        <slot name="menuContent"></slot>
    </div>
    <div class="mainMenu__end">
        <Callback></Callback>
    </div>
</nav>