@import "#tokens/main.scss";

.mainMenu {
    max-width: 340px;
    width: 340px;
    position: fixed;
    height: calc(100vh - 48px);
    gap: $offset60;
    display: flex;
    flex-direction: column;
}

.mainMenu__logo {
    position: relative;
    display: flex;
    gap: $offset40;
    position: relative;
    align-items: center;
}

.mainMenu__content {
    height: 100%;
}

.mainMenu__end {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__callback {
    align-self: flex-end;
    left: 298px;
    bottom: 32px;
}