@import '../../../tokens/main';


.areaSwitcher {
    padding: $offset50;
    border-radius: $mainBR;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    height: fit-content;
}

.areaList {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    padding: $offset50;
    border-radius: $mainBR;
}

.areaList .mainLogo:not(:first-of-type) {
    margin-top: $offset20;
}

.dark {

    .areaList {
        background: $dark_surface;
        border: 1px solid $dark_border;
    }

    .areaSwitcher {
        color: $dark_gray100;
        background: $dark_surface;
        border: 1px solid $dark_border;
    }
    
    .areaSwitcher:hover {
        color: $dark_gray100;
        background: $dark_surfaceHover;
        border: 1px solid $dark_borderHover;
    }
    .areaSwitcher:active {
        color: $dark_gray100;
        background: $dark_surfaceActive;
        border: 1px solid $dark_borderActive;
    }
    .areaSwitcher img {
        height: 32px;
        width: 32px;
        filter: invert(100%);
    }
/*     img path {
        fill: $dark_gray100;
    } */
    
}