---
import All from '#app/area/all.astro';

const pageTitle = "Лента";

---
<All pageTitle={pageTitle}>
        <div slot="pageContent">
            <h1>Лента публикаций</h1>
        </div>
</All>
