---
import All from '#app/area/all.astro';

const pageTitle = "Свежее";

---
<All pageTitle={pageTitle}>
        <div slot="pageContent">
            <h1>Свежие новости</h1>
        </div>
</All>
