---
import All from '#app/area/all.astro';
import Strengths from "#entities/strengths/ui/advantages.vue";

const pageTitle = "Главная";

---
<All pageTitle={pageTitle}>
        <div slot="pageContent">
                <Strengths></Strengths>
        </div>
</All>
