---
import All from '#app/area/all.astro';
import CallbackForm from '#features/callbackForm/ui/callbackForm.vue';

const pageTitle = "Главная";

---
<All pageTitle={pageTitle}>
        <div slot="pageContent">
            <CallbackForm client:load></CallbackForm>
        </div>
</All>
