---
import App from '../app/app.astro';
import MainMenu from '../widgets/mainMenu/ui/mainMenu.astro';
const pageTitle = "Главная страница";
const logoArea = "Все продукты"
const logoLink = "/"
---
<App pageTitle={pageTitle}>
    <MainMenu logoLink={logoLink} logoArea={logoArea}></MainMenu>
    <main>
      <header></header>
      <slot></slot>
      <footer></footer>
    </main>
</App>

