---
import All from '#app/area/all.astro';

const pageTitle = "Инфо";

---
<All pageTitle={pageTitle}>
        <div slot="pageContent">
            <h1>Информация для работодателей</h1>
        </div>
</All>
