---
import All from '../app/area/all.astro';

const pageTitle = "Фото";

---
<All pageTitle={pageTitle}>
        <div slot="pageContent">
            <h1>Фотографии</h1>
        </div>
</All>
