---
import All from '../app/area/all.astro';

const pageTitle = "Магазин";

---
<All pageTitle={pageTitle}>
        <div slot="pageContent">
            <h1>Магазин</h1>
        </div>
</All>
