---
import { ViewTransitions } from "astro:transitions";
const { pageTitle, bgImg} = Astro.props;

const bgImage = "url(" + bgImg + ")";
---

<html class="dark" lang="ru" >
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Елисеев Никита - {pageTitle}</title>
		<ViewTransitions />
	</head>
	<body  > 
		<slot><slot />
	</body>

</html>


<style define:vars={{bgImage}}>
	.dark  { 
	  background-image: var(--bgImage); 
	  background-color: #0D0D0D;
	  color: #fff;
	  }
</style>