---
const { frontmatter } = Astro.props;
import App from "#app/app.astro";
import Tags from "#entities/tags/ui/Tags.astro";
import { fade } from "astro:transitions";

const pageTitle = frontmatter.title;
---

<App pageTitle={pageTitle}>
    <p>АВТОР: {frontmatter.author}</p>
    <p transition:animate={fade({ duration: '2s' })} ><em>{frontmatter.description}</em></p>
    <slot />
    <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
    <Tags></Tags>
</App>
