@import "../../tokens/main.scss";


.button {
    display: flex;
    border-radius: 0.6rem;
    font-weight: 500;
    align-items: center;
    padding: 0.5em;
    height: fit-content;
    transition: 0.3s;
    width: fit-content;
}

.button:hover {
    cursor: pointer;
}

.button__text {
    padding-top: 2px;
    margin: 0px 0.6em;
}

.button__icon {
    height: 1.25em;
    width: auto;
}

.button_size_xs {
    font-size: 12px;
    line-height: 125%;
}
.button_size_md {
    font-size: 16px;
    line-height: 125%;
}
.button_size_xl {
    font-size: 20px;
    line-height: 125%;
}


.dark {
    .button_color_primary.button_type_filled {
        background: $dark_primary30;
        outline: 1px solid $dark_primary20;
        color: $dark_primary100;
    }
    .button_color_primary.button_type_filled:hover {
        background: $dark_primary20;
        outline: 1px solid $dark_primary10;
        color: $dark_primary100;
    }
    .button_color_primary.button_type_filled:active {
        background: $dark_primary10;
        outline: 1px solid $dark_primary10;
        color: $dark_gray90;
    }
    
    .button_color_primary.button_type_border {
        background: transparent;
        outline: 1px solid $dark_primary30;
        color: $dark_primary30;
    }
    .button_color_primary.button_type_border:hover {
        background: transparent;
        outline: 1px solid $dark_primary20;
        color: $dark_primary20;
    }
    .button_color_primary.button_type_border:active {
        background: transparent;
        outline: 1px solid $dark_primary10;
        color: $dark_primary10;
    }



    .button_color_accent.button_type_filled {
        background: $dark_accent40;
        outline: 1px solid $dark_accent30;
        color: $dark_accent100;
    }
    .button_color_accent.button_type_filled:hover {
        background: $dark_accent30;
        outline: 1px solid $dark_accent20;
        color: $dark_accent100;
    }
    .button_color_accent.button_type_filled:active {
        background: $dark_accent20;
        outline: 1px solid $dark_accent20;
        color: $dark_accent90;
    }
    
    .button_color_accent.button_type_border {
        background: transparent;
        outline: 1px solid $dark_accent40;
        color: $dark_accent40;
    }
    .button_color_accent.button_type_border:hover {
        background: transparent;
        outline: 1px solid $dark_accent30;
        color: $dark_accent30;
    }
    .button_color_accent.button_type_border:active {
        background: transparent;
        outline: 1px solid $dark_accent20;
        color: $dark_accent20;
    }


    .button_color_white.button_type_filled {
        background: $dark_gray100;
        outline: 1px solid $dark_gray90;
        color: $dark_primary40;
    }
    .button_color_white.button_type_filled:hover {
        background: $dark_primary90;
        outline: 1px solid $dark_gray80;
        color: $dark_primary30;
    }
    .button_color_white.button_type_filled:active {
        background: $dark_primary80;
        outline: 1px solid $dark_gray80;
        color: $dark_primary20;
    }
    
    .button_color_white.button_type_border {
        background: transparent;
        outline: 1px solid $dark_gray100;
        color: $dark_gray100;
    }
    .button_color_white.button_type_border:hover {
        background: transparent;
        outline: 1px solid $dark_primary90;
        color: $dark_primary90;
    }
    .button_color_white.button_type_border:active {
        background: transparent;
        outline: 1px solid $dark_primary80;
        color: $dark_primary80;
    }
    


}