@font-face {
    font-family: 'Cygre';
    src: url('/fonts/Cyrge/Cygre-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Cygre';
    src: url('/fonts/Cyrge/Cygre-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

