$border-radius0: 0px;
$border-radius10: 2px;
$border-radius20: 4px;
$border-radius30: 8px;
$border-radius40: 12px;
$border-radius50: 16px;
$border-radius60: 20px;
$border-radius70: 24px;
$border-radius80: 48px;
$border-radius90: 96px;
$border-radius100: 360px;




$mainBR: $border-radius50;