
$dark_surface10: hsla(240, 16%, 8%, 0.96);
$dark_surface20: hsla(240, 14%, 11%, 0.96);
$dark_surface30: hsla(240, 9%, 17%, 0.96);
$dark_surface40: hsla(240, 7%, 22%, 0.96);
$dark_surface50: hsla(240, 11%, 28%, 0.96);


$dark_gray0: hsla(0, 0%, 5%, 100);
$dark_gray10: hsla(240, 3%, 11%, 100);
$dark_gray20: hsla(240, 2%, 18%, 100);
$dark_gray30: hsla(240, 2%, 23%, 100);
$dark_gray40: hsla(240, 1%, 29%, 100);
$dark_gray50: hsla(240, 1%, 39%, 100);
$dark_gray60: hsla(240, 2%, 57%, 100);
$dark_gray70: hsla(240, 3%, 69%, 100);
$dark_gray80: hsla(240, 6%, 83%, 100);
$dark_gray90: hsla(240, 24%, 69%, 100);
$dark_gray100: hsla(0, 0%, 100%, 100);



$dark_accent0:hsl(21.8,100%,2.2%);
$dark_accent10:hsl(19.5,100%,25.3%);
$dark_accent20:hsl(19.5,100%,33.1%);
$dark_accent30:hsl(19.6,100%,40.8%);
$dark_accent40:hsl(19.7,100%,48.4%);
$dark_accent50:hsl(19.7,100%,60%);
$dark_accent60:hsl(19.6,100%,67.6%);
$dark_accent70:hsl(20,100%,75.3%);
$dark_accent80:hsl(19.5,100%,83.1%);
$dark_accent90:hsl(19.1,100%,90.8%);
$dark_accent100:hsl(22.5,100%,98.4%);

$dark_primary0:hsl(240,100%,2.4%);
$dark_primary10:hsl(240.5,100%,21.6%);
$dark_primary20:hsl(238.1,75.1%,33.1%);
$dark_primary30:hsl(237,55.3%,42.9%);
$dark_primary40:hsl(236.5,50.2%,52.7%);
$dark_primary50:hsl(236.6,64.9%,63.1%);
$dark_primary60:hsl(236.6,92.5%,73.7%);
$dark_primary70:hsl(236.9,100%,81%);
$dark_primary80:hsl(237.2,100%,87.5%);
$dark_primary90:hsl(240,100%,93.9%);
$dark_primary100:hsl(247.5,100%,96.9%);

$dark_surface: $dark_surface20;
$dark_border: $dark_surface30;
$dark_surfaceHover: $dark_surface30;
$dark_borderHover: $dark_surface20;
$dark_surfaceActive: $dark_surface40;
$dark_borderActive: $dark_surface50;

$dark_text: $dark_gray100





