
$dark_surface10: hsla(240, 16%, 8%, 0.96);
$dark_surface20: hsla(240, 14%, 11%, 0.96);
$dark_surface30: hsla(240, 9%, 17%, 0.96);
$dark_surface40: hsla(240, 7%, 22%, 0.96);
$dark_surface50: hsla(240, 11%, 28%, 0.96);


$dark_gray0: hsla(0, 0%, 5%, 100);
$dark_gray10: hsla(240, 3%, 11%, 100);
$dark_gray20: hsla(240, 2%, 18%, 100);
$dark_gray30: hsla(240, 2%, 23%, 100);
$dark_gray40: hsla(240, 1%, 29%, 100);
$dark_gray50: hsla(240, 1%, 39%, 100);
$dark_gray60: hsla(240, 2%, 57%, 100);
$dark_gray70: hsla(240, 3%, 69%, 100);
$dark_gray80: hsla(240, 6%, 83%, 100);
$dark_gray90: hsla(240, 24%, 69%, 100);
$dark_gray100: hsla(0, 0%, 100%, 100);


$dark_surface: $dark_surface20;
$dark_border: $dark_surface30;
$dark_surfaceHover: $dark_surface30;
$dark_borderHover: $dark_surface20;
$dark_surfaceActive: $dark_surface40;
$dark_borderActive: $dark_surface50;





