@import 'colors';
@import 'border-radius';
@import 'offsets';


* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
}

li, ul {
    padding: 0;
    margin: 0;
    display: block;
}

li {
    list-style-type: none;
}

button {
    display: flex;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 12px;
}

.scroll_fixed {
    overflow: hidden;
}

h1{
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    gap: 16px;
}

main {
    height: 4000px;
    margin-left: 356px;
    width: calc(100vw - 24px - 356px - 16px);
}

button {
    border: none;
}