@import 'reset';
@import 'colors';
@import 'border-radius';
@import 'offsets';
@import 'animations';
@import 'config';

main {
    margin-left:0;
    display: flex;
    justify-content: center;
}

* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

.scroll_fixed {
    overflow: hidden;
}

.container {
    max-width: 992px;
}





@media (min-width: 769px) {
    body {
        padding: $bodyOffset;
        display: grid;
        grid-template-columns: $menuWidth auto;
        gap: $navManinGap;
    }
    aside {
        height: calc(100vh - $bodyOffset * 2);
    }
}