@import '../../../tokens/main';



.mainLogo {
    display: flex;
    gap: $offset40;
    padding: $offset40;
    border-radius: $mainBR;
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
}

.mainLogo__label {
    display: flex;
    flex-direction: column;
    gap: $offset10;
}

.mainLogo__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.mainLogo__area {
    font-weight: light;
    font-size: 12px;
    line-height: 16px;
}

.dark {
    .mainLogo {
        color: $dark_gray100;
        background: $dark_surface;
        border: 1px solid $dark_border;
        transition: 0.3s;
    }
    
    .mainLogo:hover {
        color: $dark_gray100;
        background: $dark_surfaceHover;
        border: 1px solid $dark_borderHover;
    }
    .mainLogo:active {
        color: $dark_gray100;
        background: $dark_surfaceActive;
        border: 1px solid $dark_borderActive;
    }
}


    
