---
import './mainLogo.scss';


import { Image } from 'astro:assets';

import logoProduct from './logo/product.svg';

const { logoArea, logoImg, logoLink} = Astro.props;

const currentUrl = Astro.url.pathname;

var selected = false;
if(logoLink === currentUrl) selected = true;

---

<a href={selected == false && logoLink} class="mainLogo">
    <Image src={logoProduct} alt="Логотип. Елисеев Никита" />
    <div class="mainLogo__label">
        <div class="mainLogo__name">
            <p>Елисеев Никита</p>
        </div>
        <div class="mainLogo__area">
            <p>{logoArea}</p>
        </div>
    </div>   
</a>

