---
import './mainLogo.scss';


import { Image } from 'astro:assets';

import logoProduct from './logo/designer.svg';

const { logoArea, logoImg, logoLink} = Astro.props;

---

<a href={logoLink} class="mainLogo">
    <Image src={logoProduct} alt="Логотип. Елисеев Никита" />
    <div class="mainLogo__label">
        <div class="mainLogo__name">
            <p>Елисеев Никита</p>
        </div>
        <div class="mainLogo__area">
            <p>{logoArea}</p>
        </div>
    </div>   
</a>

