---
const { frontmatter } = Astro.props;
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Tags from "../components/Tags.astro";
import { fade } from "astro:transitions";

const pageTitle = frontmatter.title;
---

<BaseLayout pageTitle={pageTitle}>
    <p>АВТОР: {frontmatter.author}</p>
    <p transition:animate={fade({ duration: '2s' })} ><em>{frontmatter.description}</em></p>
    <slot />
    <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
    <Tags></Tags>
</BaseLayout>
